#container {
    width: 720px;
    height: 720px;
    display: grid;
}
 
.addGrid {
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
}

.squares {
    background-color: white;
    transition-duration: 3s ;
}

.squaresHovered {
    background-color: black;
}

